a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --button: #BBF330;
    --main-background: #F5F5F5;
    --background-header: #FEFEFE;
    --white: #FFFFFF;
    --main-text: #2C2C2C;
    --second-background: #FFE550;
    --green-two: #7EB101;
}

.body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-background);
    font-size: 16px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
}


/* <!=========header========> */
.header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--background-header);
}

.nav {
    margin-left: auto;
}

.header-nav {
    display: flex;
    align-items: center;
}

.list-nav {
    margin-left: 28px;
    color: var(--main-text);
    font-size: 14px;
}

.button {
    padding: 6px 18px;
    background: var(--button);
    border: 1px solid var(--button);
    border-radius: 30px;
}

.header-button {
    margin-left: 30px;
}
/* <!=========/header========> */

/* /!=========Hero========> */

.hero-secttion {
    display: flex;
}

.hero-title {
        font-size: 48px;
        line-height: 120%;
        width: 503px;
        color: var(--main-text);
        font-weight: 700;

        margin-right: auto;
        margin-top: 159px;
        margin-bottom: 28px;
        }

.text {
        width: 500px;
        color: var(--main-text);
        font-weight: 400;
        
        line-height: 1.5;
        margin-bottom: 40px;
        text-align: justify;
        font-size: inherit;
        }

.hero-text {
        width: 502px;
}

        .hero-img {
            margin-left: auto;
            margin-top: 26px;
            border-radius: 269px;
            border: 26px solid var(--second-background);
            border-color: var(--second-background);
        }

/* !=========/Hero========> */

/* !=========About========> */

.container-about {
    display: flex;
}

.img-apple {
    margin-left: 60px;
    margin-right: 160px;
    margin-top: 177px;
}

.about-title {
        margin-top: 260px;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: var(--main-text);
}



.list {
    display: flex;
}

.list-about {
margin-right: 67px;
margin-bottom: 32px;
}

.list-about-title {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
    margin-bottom: 16px;
        color: var(--main-text);
        width: 253px;
}

.about-text-list {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
}

.button-about {
    font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
  
        padding: 10px 22px;
        background: var(--white);
     
    
        border: 2px solid var(--green-two);
        border-radius: 30px;
}

/* !=========/About========> */

.title-favorites {
        font-weight: 700;
        font-size: 42px;
        line-height: 1.2;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
        color: var(--main-text);
}

.text-favorites {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
    
        color: var(--main-text);
}